.box
{
    height: auto;
    width: 1300px;
    border:1px none rgb(218, 203, 203);
    justify-content: center;
    margin-top: 3%;
    margin-left: 7%;
    position: absolute;
}

#box5
{
    border: 1px solid white;
    margin-left: 50%;
    margin-bottom: 0%;
    font-size: 30px;
}
.box6
{
    height: 50px;
    width: 50px;
    border: 1px solid rgb(245, 242, 242);
    float: left;
    justify-content: center;

}
#btn5
{
    margin-left: 0%;
    margin-top: -100%;
    position: relative;
}
.mybtn
{
    margin-left: 50%;
    text-decoration: none;
    color: red
}
#button1
{
    text-decoration: none;
    color:rgb(180, 119, 119);
}
span
{
    font-size: 30px;
}
li * {
    float: left;
  }
  li {
    clear:both;
    list-style:none;
  }
h1,h2
{
    text-align: center;
    font-size: 50px;
}
h3
{
    text-align: center;
    font-size: 20px; 
    color:black
}
h4
{
    text-align: center;
    font-size: 20px; 
    color:black
}
hr
{
    margin-left: 20%;
}


.box2
{
    height: 280px;
    width: 190px;
    border: 3px solid rgb(180, 119, 119);
    float: left;
    margin: 10px;
    border-radius: 10px;
    margin-left: 100px;
    box-shadow: 5px 7px rgb(187, 186, 186);

}
.box3
{
    height: 300px;
    width: 260px;
    border: 3px solid rgb(180, 119, 119);
    border-radius: 10px;
    margin-left: 400px;
    /* margin-top: -10%; */
    box-shadow: 5px 7px rgb(187, 186, 186);
}
label
{
    background-color: rgb(52, 28, 116);
    border-radius: 0px;
    height: 40px;
    width: 70px;
    color: cornsilk;
    
}
.butt,.butt4
{
    background-color: red;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    color: cornsilk;
    font-weight: bold;
}
.butt1,.butt5
{
    background-color: red;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    color: cornsilk;
    color: #aaaaaa;
    font-weight: bold;

}
.butt1:hover,.butt:hover
.butt1:focus,.butt:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.display,.display1
{
    height: 180px;
    width: 300px;
    border: 3px solid rgb(180, 119, 119);
    border-radius: 10px;
    margin-left: 400px;
    text-align: center;
    z-index: -10;
    margin-left: 37%;
    margin-top: 20%;
    color: black;
    background-color: white;
    
}
.boxdisplay
{
 background-color: rgb(0,0,0,0.3); 
 height: 100%;
 width: 100%;
 top: 0%;
 left: 0%;
 display: none;
 align-items: center;
 justify-content: center;
 position: fixed;
 
}
.boxdisplay1
{
 background-color: rgb(0,0,0,0.3); 
 height: 100%;
 width: 100%;
 top: 0%;
 left: 0%;
 display: none;
 align-items: center;
 justify-content: center;
 position: fixed;
 
}
.dynamic-block
{
    height: 300px;
    width: 190px;
    border: 3px solid rgb(180, 119, 119);
    float: left;
    margin: 10px;
    border-radius: 10px;
    margin-left: 100px;
    box-shadow: 5px 7px rgb(187, 186, 186);
    color: black;
    min-width: 190px;
    min-height: 300px;
    width: fit-content;
    height: fit-content;
}

.dynamic-bOX
{
    height: 50px;
    width: 10px;
    border: 3px solid rgb(180, 119, 119);
    float: left;
    border-radius: 10px;
    color: black;
    background-color: black;
    position: absolute;
} 

.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
		background: white;
		border-radius: 10px;

}

#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
    outline: none;
    border-color: #0d75ec;
}

#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

.task{
    background-color: #c5e1e6;
    height: 50px;
		margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
		border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #0a2ea4;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.delete
{
  margin-left: 80%;
  margin-top: 100%;
  color: rgb(241, 237, 237);
  background-color: red;
  height: 30PX;
  width: 30PX;
  border-radius: 50%;

}
.delete1
{
   
    background: #ffffff;
    color: rgb(253, 10, 10);
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    margin-right: 10%;
}
.delete1:hover {
    background-color: #bbb;
  }
.add1
{
    float: left; 
    color: rgb(241, 237, 237);
    background-color: rgb(17, 50, 156);
    height: 30PX;
    width: 30PX;
    border-radius: 50%;  
    cursor: pointer;
    margin-left: 60%;
    margin-top: -16%;

}

  .item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  input:checked + p {
    background: #fffbfb;
    text-decoration: line-through;
    
  }
  
  input[type="checkbox"] {
    margin: 20px;
    float: left;
  }

  p
{
   
    margin-left: 0%;
    font-weight: bold;

}
.delete1{
    margin-left: 30px;
}
#packers
{
    margin-left: 0px;
}
@media (max-width: 600px) {
    h1
    {
        font-size: 30px;
    }
    #box1
        {
            height: 430px;
            width: 300px;
            border:1px solid rgb(218, 203, 203);
            justify-content: center;
        }
    .box2
    {
        height: 50px;
        width: 200px;
        border: 3px solid rgb(180, 119, 119);
        border-radius: 10px;
        margin-left: 15%;
    }
    .box3
    {
        height: 270px;
        width: 210px;
        border: 3px solid rgb(180, 119, 119);
        border-radius: 10px;
        margin-left: 40px; 
        /* margin-top: -10%; */
        box-shadow: 5px 7px rgb(187, 186, 186); 
    }
    label
    {
        font-size: 10px;
    }
    h3
    {
        font-size: 20px; 
    }
    #box5
    {
        margin-left: 25%;
    }
    
    #button
{
    margin-left: 5%;
}
b,p,#task,label,hr
{
   display: none;
}
}
